@import url(http://fonts.googleapis.com/css?family=Inconsolata);
.level {
  position: absolute;
  transition: left 500ms, top 500ms, opacity 1s;
}
.level.done {
  opacity: 0;
}
.level .intro {
  margin: 4rem 8rem 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.level .intro .sign {
  text-align: right;
  margin-right: 5ch;
}
.level .intro .ps {
  margin-top: 2em;
}
.level .minimap {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  background-color: rgba(0, 0, 0, 0.75);
  border-collapse: collapse;
}
.level .minimap td {
  width: 1.4em;
  height: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border: 2px solid #666;
  padding: 0;
}
.level .minimap td.active {
  background-color: #333;
}
.cell {
  position: absolute;
  overflow: hidden;
}
.cell .info {
  position: relative;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  /* .attacks */
}
.cell .info.done {
  padding: 1em 5ch;
}
.cell .info .label {
  text-align: center;
  padding-bottom: 0.5em;
}
.cell .info .label span::before {
  content: "---=<( ";
  color: goldenrod;
}
.cell .info .label span::after {
  content: " )>=---";
  color: goldenrod;
}
.cell .info .attacks {
  counter-reset: attack;
  float: left;
  margin-left: 2ch;
  width: 28ch;
  /* ul */
}
.cell .info .attacks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2;
  /* li */
}
.cell .info .attacks ul li {
  counter-increment: attack;
  /* confirm */
}
.cell .info .attacks ul li::before {
  color: #fff;
  content: "[" counter(attack) "] ";
}
.cell .info .attacks ul li.disabled {
  opacity: 0.5;
}
.cell .info .attacks ul li.active {
  xbackground-color: #333;
}
.cell .info .attacks ul li .confirm {
  margin-left: 4ch;
  margin-bottom: 0.5em;
}
.cell .info .attacks ul li .confirm::before {
  content: "✔ ";
  color: #0f0;
}
.cell .info .attacks ul li .confirm.disabled::before {
  content: "✘ ";
  color: #f00;
}
.cell .info .gauges {
  float: left;
}
.cell .info .gauges .group {
  display: inline-block;
  width: 32ch;
}
.entity {
  text-align: center;
  padding-top: 2rem;
}
.entity > span {
  font-size: 12rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  border-radius: 0.3em 0.3em 0 0;
  padding: 1rem;
  transition: color 1s;
  position: relative;
}
.entity > span .more {
  position: absolute;
  left: 1.3ch;
  bottom: -1rem;
}
.entity > span .more span {
  padding: 0.5em;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.gauge {
  display: inline-block;
  white-space: pre;
  color: #eee;
  text-shadow: 1px 1px 1px #333;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
.gauge.underflow {
  color: #f33;
}
.gauge span {
  display: inline-block;
}
.gauge .empty {
  background-color: #323232;
}
.gauge .up,
.gauge .down {
  -webkit-animation: bg 1.5s infinite linear;
  animation: bg 1.5s infinite linear;
}
.gauge .down {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
@keyframes bg {
  from {
    background-color: #323232;
  }
  to {
    background-color: rgba(50, 50, 50, 0);
  }
}
@-webkit-keyframes bg {
  from {
    background-color: #323232;
  }
  to {
    background-color: rgba(50, 50, 50, 0);
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #000;
  font-family: inconsolata, monospace;
  overflow: hidden;
  color: #ccc;
}
strong {
  color: #fff;
}
#intro,
#outro {
  position: absolute;
  padding: 1em;
  width: 100%;
  height: 100%;
  transition: opacity 2.5s;
}
#intro.transparent,
#outro.transparent {
  opacity: 0;
}
#intro {
  background-color: #fff;
  font-family: serif;
  color: #000;
  line-height: 1.3;
}
#intro strong {
  color: #000;
}
#intro h1 {
  text-align: center;
}
#outro {
  background-color: rgba(0, 0, 0, 0.75);
}
#outro h1 {
  text-align: center;
  color: #c33;
}
#outro p {
  clear: both;
}
#outro a {
  float: left;
  margin: 1em 10% 3em;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#outro a:hover {
  text-decoration: underline;
}
#outro a span {
  display: inline-block;
  width: 3em;
  line-height: 3;
  font-weight: bold;
}
#outro a.gplus span {
  background-color: #dd4b39;
}
#outro a.twitter span {
  background-color: #55acee;
}
#outro a.fb span {
  background-color: #3B5998;
}
