@gray: 50;
@bg: rgba(0, 0, 0, 0.75);

@import "level.less"; 
@import "cell.less"; 
@import "entity.less"; 
@import "gauge.less"; 
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #000;
	font-family: inconsolata, monospace;
	overflow: hidden;
	color: #ccc;
}

strong {
	color: #fff;
}

#intro, #outro {
	position: absolute;
	padding: 1em;
	z-index: 1;
	width: 100%;
	height: 100%;
	transition: opacity 2.5s;
	
	&.transparent {
		opacity: 0;
	}
}

#intro {
	background-color: #fff;
	font-family: serif;
	color: #000;
	line-height: 1.3;

	strong {
		color: #000;
	}
	
	h1 {
		text-align: center;
	}
}

#outro {
	background-color: @bg;
	
	h1 {
		text-align: center;
		color: #c33;
	}
	
	p {
		clear: both;
	}
	
	a {
		float: left;
		margin: 1em 10% 3em;
		color: #fff;
		text-decoration: none;
		text-align: center;
		
		&:hover {
			text-decoration: underline;
		}
		
		span {
			display: inline-block;
			width: 3em;
			line-height: 3;
			font-weight: bold;
		}
		
		&.gplus span {
			background-color: #dd4b39;
		}

		&.twitter span {
			background-color: #55acee;
		}
		
		&.fb span {
			background-color: #3B5998; 
		}
	}
}
