.cell {
	position: absolute;
	overflow: hidden;

	.info {
		position: relative;
		height: 50%;
		background-color: @bg;

		&.done {
			padding: 1em 5ch;
		}
		
		.label {
			text-align: center;
			padding-bottom: 0.5em;

			span {
				&::before {
					content: "---=<( ";
					color: goldenrod;
				}

				&::after {
					content: " )>=---";
					color: goldenrod;
				}
			}
		}

		.attacks {
			counter-reset: attack;
			float: left;
			margin-left: 2ch;
			width: 25ch;
			
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				line-height: 1.2;

				li {
					counter-increment: attack;
					&::before {
						color: #fff;
						content: "[" counter(attack) "] ";
					}
					
					&.disabled {
						opacity: 0.5;
					}
					
					&.active {
						xbackground-color: #333;
					}

					.confirm {
						margin-left: 4ch;
						margin-bottom: 0.5em;

						&::before {
							content: "✔ ";
							color: #0f0;
						}
						
						&.disabled::before {
							content: "✘ ";
							color: #f00;
						}
					} /* confirm */
				} /* li */
			} /* ul */
		} /* .attacks */

		.gauges {
			float: left;
			
			.group {
				display: inline-block;
				width: 27ch;
			}
		}
	}
}
